.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
  z-index:3;
}
.wrapper {
  padding: 0;
}
.LoginContainer {
  background-color: rgba(0, 0, 0, 0.69);
  border-radius: 15px;
  width: 700px !important;
}
.welcome {
  text-align: center;
  color: white;
}
.hoarders {
  text-align: center;
  font-size: 10em;
  font-weight: bold;
  color: black;
}
.signing {
  color: white;
  text-align: center;
}
.transparent {
  background-color: transparent;
  color: white;
}
.loginBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.headerContainer {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.authComponent {
  float: none;
  margin: auto;
}
.clickable {
  font-weight: bold;
  transition: all 0.1s ease
}
.clickable:hover {
  cursor: pointer;
  color: #006dcc;
}
.btn {
  transition: all 0.1s ease
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: fixed;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}