.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
  z-index:3;
}
.wrapper {
  padding: 0;
}
.welcome {
  text-align: center;
}
.authComponent {
  float: none;
  margin: auto;
}
.clickable {
  font-weight: bold;
}
.clickable:hover {
  cursor: pointer;
  color: #006dcc;
}
